@import 'reset.css';
@import 'vars.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Georgia;
  padding: 2rem;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

@media screen and (width >= 500px) {

  h1 {
    font-size: 6vw;
  }
}
